@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@theme{
  --animate-texthighlight: texthighlight 4s ease-in-out infinite;
  --animate-shadowgone: shadowgone 5s ease-in-out infinite;
  --animate-shadowmove: shadowmove 5s ease-in-out infinite;

  @keyframes texthighlight {
    50%{
      background-color: #b1ff4a;
    },
    100%{
      background-color:transparent;
      transform: scaleX(1)
    }
  }

  @keyframes shadowmove {
    0%{
      filter: drop-shadow(-15px 10px 12px black);
    }
    25%{
      filter: drop-shadow(5px -20px 12px black);
    }
    50%{
      filter: drop-shadow(20px 15px 12px black);
    }
    7%%{
      filter: drop-shadow(5px -20px 12px black);
    }
    100%{
      filter: drop-shadow(-15px 10px 12px black);
    }
  }

  @keyframes shadowgone {
    50%{
      filter: drop-shadow(0 0 20px white);
    }
    100%{
      filter: drop-shadow(0 0 0);
    }
  }
}

@layer components{
  .btn-hollow-fill{
    @apply outline-2 outline-amber-600 text-amber-600 hover:text-white bg-white hover:bg-amber-600 hover:bg-linear-120 p-2 rounded-md px-5;
  }
  .btn-fill-hollow{
    @apply bg-amber-600 hover:bg-white hover:text-amber-600 hover:outline-2 hover:outline-amber-600 p-2 rounded-md px-5;
  }
}